Package: pi-pwr
Version: 1.0.0
Section: utils
Priority: optional
Architecture: all
Maintainer: Ed Baker <ed@ebaker.me.uk>
Description: Raspberry Pi power manager
  This package allows for managing the power state of a Raspberry Pi.
